<section class="logo">
  <div class="container-fluid"> 
      <div class="row">
        <div class="col-md-12">
          <img src="web_images/user_logo.png" class="img-fluid f_logo" width="49px" height="49px">
        <div>
        <ul>
          <li class="ord"><a routerLink="/home"routerLinkActive="active"><strong>ORDER</strong></a></li>
          <!-- <li class="hel_p"><a routerLink="/help"routerLinkActive="active"><strong>HELP</strong></a></li> -->
          <!-- <li class="terms"><a routerLink="/terms"routerLinkActive="active"><strong>Terms & Condition</strong></a></li> -->
        </ul>
        </div>
        <div class="socical">
          <div style="float:left">
            <h6>Follow US</h6>
            <p>We want to hear from you !</p>   
          </div>          
          <div>
            <img src="assets/img/web_icons/insta.svg" class="img-fluid cube" width="28px" height="auto">
            <img src="assets/img/web_icons/fb.svg" class="img-fluid cube fb" width="28px" height="auto">
          </div> 
        </div>
      </div>
    </div>
    <hr>
    <p class="text-center" style="font-family:Roboto Regular">Copyright <i class="fa fa-copyright"></i> 2019 E-DELIVERY. All Rights Reserved</p>
  </div>
</section>