<section class="padt100">		
	<div class="welcome">
		<div class="welcome_in">
			<div class="container">
				<div class="text-left" style="margin-left: 100px">
					<div class="logo"><img src = "../assets/images/logo-2.png" alt="logo" /></div>
					<h2>{{title.bienvenue_alexandre | translate}} {{user_first_name}}</h2>
					<!-- <p>{{description.welcome_dis | translate}}</p> -->
					<button (click)="go_to_home()" class="btn">{{button.order_now | translate}}</button>
				</div>
			</div>
			<div class="welcome_img">
				<img src = "../assets/img/bg_img.png" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>